body{
	background-color: rgba(12,21,22,1);
	background-image: url('images/game-background.png');
	background-repeat: no-repeat;
	background-size: contain;
	color: white;
	display: flex;
	justify-content: center;
	font-family: 'Press Start 2P', cursive;
}

.container {
	cursor: url('images/shotgun-pointer48px.png'), auto;
}

.game-logo {
	width: 65px;
	height: 35px;
}

.header {
	/*border: 5px solid red;*/
	text-align: center;
	background-color: rgba(26,36,38,0.5);
	font-size: 22px;
	padding: 10px 0 5px 0;
}

.main-container {
	box-sizing: border-box;
}

.game-container {
	border: 5px solid purple;
	width: 70%;
	box-sizing: border-box;
	display: inline-block;
}

.stats-col {
	border: 5px solid orange;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}


.stats-container {
	/*border: 5px solid red;*/
	box-sizing: border-box;
	width: 25%;
	height: 100%;
	display: inline-block;
}

.button-div {
	border: 5px solid orange;
	display: flex;
	justify-content: center;
}

.game-border {
	box-sizing: border-box;
	background-image: url('images/game-border.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	opacity: 0.75;
	width: 100%;
	height:600px;
	border: 5px solid orange;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url('images/gun-pointer32px.png'), auto;
}

.game-board {
	background-color: rgba(255,255,255,0.3);
	box-sizing: border-box;
	border: 5px solid red;
	width: 91%;
	height: 89%;
	/*display: flex;*/
	display: block;
	flex-wrap: wrap;
}


.timer-display {
	/*border: 5px solid blue;*/
	color: white;
	width: 48%;
	height:100%;
	box-sizing: border-box;
	display: inline-block;
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	text-align: center;
}

.timer-div {
	background-color: rgba(26,36,38,0.8);
	border: 5px solid green;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.stats-container {
	text-align: center;
}

.stage-div {
	text-align: center;
}

.stage-div {
	margin: 5px 5px 20px 5px;
}

.stats-div {
text-align: left;
}



h2 {
	display: inline;
	color: white;
	box-sizing: border-box;
	width:48%;
	font-size: 18px;
}

h1{
	margin: 0;
	font-family: 'Monoton', cursive;
	color: white;
	display: inline;
}

h3 {
	font-size: 12px;
	margin: 5px 5px 20px 5px;
	text-align: center;
}

p {
	font-size: 12px;
}


.stage-buttons {
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	padding: 10px 30px;
	color:white;
	background-color: rgba(0,0,0,0.7);
	margin: 5px;
	cursor: url('images/shotgun-pointer48px.png'), auto;
}

.stage-buttons:hover {
	background-color: rgba(65,75,80,0.8);
	font-size: 12px;
}

#game-title {
	font-family: 'Mountains of Christmas', cursive;
	color: white;
}

#game-instruct {
	font-family: 'Mountains of Christmas', cursive;
	color: white;
	font-size: 25px;
	margin: 5px auto;
}


.shotBox {
	font-family: 'Black Ops One', cursive;
	font-size: 46px;
	text-align: center;
}


/* Modal styles */
.modal-header {
	color:white;
	font-family: 'Mountains of Christmas', cursive;
	font-size: 30px
}

h5 {
	color:white;
	font-family: 'Mountains of Christmas', cursive;
	font-size: 30px
}

.modal-content {
	background-color: rgba(13,21,22,0.9);
	color: white;
}

#modal-text {
	font-family: 'Mountains of Christmas', cursive;
	color:white;
	font-size: 22px;
}

.modal-close-button {
	font-family: 'Mountains of Christmas', cursive;
	color:white;
	font-size: 22px;
	padding: 2px 30px;
	background-color: rgba(130,140,145,0.8);
	border-radius: 15px;
}

.modal-close-button:hover {
	background-color: rgba(14,28,21,0.8);
	font-size: 24px;
}

/*stage four keyframes and id selectors*/
#s41 {
	animation: stage-4-1 5s linear infinite;
}

#s42 {
	animation: stage-4-2 5s linear infinite;
}

#s43 {
	animation: stage-4-3 5s linear infinite;
}

#s44 {
	animation: stage-4-4 5s linear infinite;
}

@keyframes stage-4-1 {
	0% {
		transform:translate(0);
	}
	50% {
		transform:translate(75%);
	}
	100% {
	transform:translate(0);
	}
}

@keyframes stage-4-2 {
	0% {
		transform:translate(0);
	}
	50% {
		transform:translate(150%);
	}
	100% {
	transform:translate(0);
	}
}


@keyframes stage-4-3 {
	0% {
		transform:translate(0);
	}
	50% {
		transform:translate(225%);
	}
	100% {
	transform:translate(0);
	}
}

@keyframes stage-4-4 {
	0% {
		transform:translate(0);
	}
	50% {
		transform:translate(300%);
	}
	100% {
	transform:translate(0);
	}
}

/*@keyframes stage-4-1 {
	0% {
		transform:translate(0);
		opacity:1;
	}
	50% {
		transform:translate(200%);
		opacity:1;
	}
	100% {
	transform:translate(0);
	opacity:1;
	}
}*/

/*.content {
	width: 25%;
	height: 25%;
	background-color: red;
	display: block;
	animation: stage-4-1 3s linear infinite; }*/






font-family: 'Black Ops One', cursive;

font-family: 'Bungee Inline', cursive;

font-family: 'Press Start 2P', cursive;

font-family: 'Mountains of Christmas', cursive;

font-family: 'Monoton', cursive;